<!DOCTYPE html>
<html>
<head>
    <title>FATEC: Mapa de Salas</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.1">
	<link rel="stylesheet" href="{{ url_for('static', filename='salas.css') }}">
	<style>
	.pc {
		background-image: url("{{ url_for('static', filename='pc.png') }}");
	}
	</style>
</head>
<body>
<center>
<div class="sala">
	<div class="editarea">
		<div class="pctablemaster">
			
		</div>
	</div>
	<div class="textpc">
		&nbsp;
	</div>
	<div class="close" onclick="toggleVisibilidade()">x</div>
</div>
{% for row in rows %}
	<div class="botao" onclick="toggleVisibilidade({{row['nome']|safe}})">{{row['nome']|safe}}</div>
{% endfor %}


<script>
	lastelement = null; cloneelement = null;
	
	salalist = []
	salanomes = []
	{% for row in rows %}
		salalist.push((`{{row['elements']|safe}}`).trim());
		salanomes.push("{{row['nome']|safe}}");
	{% endfor %}
	
	//SISTEMA QUE DETERMINA O TAMANHO
	function defineSelection(){
		preelements = document.querySelector(".pctablemaster").innerHTML;
		lastobj = preelements.lastIndexOf("obj");
		if (lastobj != -1){
			lastobj += 3;
			if (preelements.substr(lastobj+1, 9) == '" class="'){
				objsize = 1;
			} else if (preelements.substr(lastobj+2, 9) == '" class="'){
				objsize = 2;
			} else if (preelements.substr(lastobj+3, 9) == '" class="'){
				objsize = 3;
			} else if (preelements.substr(lastobj+4, 9) == '" class="'){
				objsize = 4;
			} else {
				objsize = 5;
			}
		
			if (objsize <= 4) {
				total = preelements.substr(lastobj, objsize)
			} else {
				total = 9999;
			}
		}
		else total = 0;
		
		counter = 1; elements = [];
		while (counter <= total){
			if (preelements.includes("obj"+counter)){
				elements.push("obj"+counter);
			}
			counter+=1;
		}
		for (x = 0; x < counter-1; x++){
			document.getElementById(elements[x]).style.outline = "";
			selectPC(document.getElementById(elements[x]));
		}
	}
	
	function selectPC(elmnt) {
		elmnt.onmousedown = setSelectedElement;
		
		function setSelectedElement(){
			if (elmnt.classList.value.includes("pc")){
				if (lastelement != null) {
					lastelement.style.outline = "";
				}
				elmnt.style.outline = "2px solid #DDDDDD";
				lastelement = elmnt;
				document.querySelector(".textpc").textContent = lastelement.textContent;
			}
		}
	}
	
	function toggleVisibilidade(salanumber){
		if (document.querySelector(".sala").style.visibility == "visible"){
			document.querySelector(".sala").style.visibility = "hidden";
		} else {
			document.querySelector(".sala").style.visibility = "visible";
		}
		document.querySelector(".pctablemaster").innerHTML = salalist[salanomes.indexOf(salanumber.toString())];
		defineSelection();
	}
</script>
</center>
</body>
</html>

